[tool.poetry]
name = "exasol-error-reporting-python"
version = "0.2.0"
description = "Exasol Python Error Reporting"
license = "MIT"

authors = [
    "Umit Buyuksahin <umit.buyuksahin@exasol.com>",
    "Torsten Kilias <torsten.kilias@exasol.com>"
]


readme = 'README.md'

repository = "https://github.com/exasol/error-reporting-python"
homepage = "https://github.com/exasol/error-reporting-python"

keywords = ['exasol', 'python', 'error-reporting']


[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
